[
    {ekestrel, [
        {pools, [
            {k1, [
                {size, 5},
                {max_overflow, 3}
            ], [
                {hostname, "localhost"},
                {port, 2229}
            ]},
            {k2, [
                {size, 5},
                {max_overflow, 3}
            ], [
                {hostname, "localhost"},
                {port, 2229}
            ]}
        ]}
    ]}
].
